<div class="row">
  <div class="col-xs-4">
  </div>
  <div class="col-xs-8">
    <h1>IMDB APP HOME PAGE</h1>
    <%= image_tag "http://www.thewrap.com/sites/default/files/24a8e_imdb_logo.jpg", size: "500x300" %>
  </div>
</div>