<!DOCTYPE html>
<html>
  <head>
    <title>Imdb</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="main-container" class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">IMDB</a>
            <a class="navbar-brand" href="/movies">All Movies</a>
            <a class="navbar-brand" href="/movies/new">Add a new movie</a>
          </div>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
